<html>
    <head>
        <meta charset="utf-8">
        <title>Vue.js</title>
        <link rel="stylesheet" href="style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    </head>
    <body>
        <h1>computed</h1>
        <div id="app">
            <p v-bind:style="{backgroundColor: mixColor}">{{mixColor}} 색상 테스트</p>
            <ipnut type="range" v-model="R" min="0" max="255">
            <br>
            <ipnut type="range" v-model="G" min="0" max="255">
            <br>
            <ipnut type="range" v-model="B" min="0" max="255">
            <br>
        </div>
    </body>
        <script>
            new Vue({
                el: "#app",
                data: {
                    R: 240,
                    G: 150,
                    B: 0,
                },
                computed: {
                    mixColor: function() {
                        var ans = "RGB("+ this.R + "," + this.G + "," + this.B + ")";
                        return ans;
                    },
                },
            })
        </script>
</html>
    